.table {
    border-bottom: solid;
      border-top: solid;
      padding: 2px;
      font-size: 40px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    background-color: black;
}


a:hover {
    color: blue;
}

h1 {
    font-family: "Jazz LET", fantasy;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    color: black;
}

.results {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

body {
    background-color: gray;
}
